extends layout

block content
  div
    form(action="/submit", method="post")
      input(type="text", id="name", name="name", placeholder="Name")
      button(id="submit") Submit
  div
    table
      thead
        tr
          th Id
          th Name
      tbody
          tr
            td=title

